{% extends "adminApache/index.html" %}
{% block inner_content %}
<style>
    .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
    .btn-labeled {padding-top: 0;padding-bottom: 0;}
    .btn { margin-bottom:10px; }
</style>

<div class="row">
<div class="col-md-1">
    <a href="start/" id="button" name="button" class="btn btn-success">Start</a>
</div>
<div class="col-md-1">
    <a href="stop/" id="button" name="button" class="btn btn-danger">Stop</a>
</div>
</div>
{% endblock %}