{% extends "adminApache/index.html" %}
{% block inner_content %}
<style>
  pre {
      margin-top: 16px;
  }
</style>
<div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Arquivo
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        {% for file in config_files %}
          <li><a href="/apache/logs/{{ file }}/">{{ file }}</a></li>
        {% endfor %}
        </ul>
</div>
<pre>
{{ file_content }}
</pre>

{% endblock %}
