{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="adminApache - Version Verify">
    <meta name="author" content="Leonardo Larsen Rocha">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">

    <!-- Title -->
    <title>{{ title }}</title>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <!-- Bootstrap -->    
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="stylesheet"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/custom/starter-template.css' %}" rel="stylesheet">
    

  </head>
<body>
<!-- MENU ======================================================================-->
{% include 'includes/menu.html' %}
<!--============================================================================-->

<!-- ERRORS ====================================================================-->
{% include 'includes/errors.html' %}
<!--============================================================================-->

{% block content %}{% endblock %}

<!-- FOOTER ====================================================================-->
{% include 'includes/foot.html' %}
<!--============================================================================-->

<!-- SCRIPTS ===================================================================-->
{% block script %}{% endblock %}
<!--============================================================================-->
</body>
</html>