{% extends "adminBases/index.html" %}
{% block inner_content %}
<form action="selecionar/" method="post">
    {% csrf_token %}
    {% for dat in available_dat %}

    <div class="form-check">
        <input class="form-check-input" type="radio" name="dat" id="{{ dat }}" value="{{ dat }}">
        <label class="form-check-label" for="dat Radios">
        {{ dat }}
        </label>
    </div>
    {% endfor %}
<br>
    <div class="row">
        <button type="submit" class="btn btn-outline-secondary">Selecionar</button>
    </div>
</form>
{% endblock %}