{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Git {{button}}</h1>
<hr>
<form action='/git/configuracao/' method="post">
{% csrf_token %}
<div class="input-group">
    <span class="input-group-addon">Github:</span>
    <input id="github" name="github" value="{{github}}" type="text" class="form-control" placeholder="https://github.com/hbsistec/2A.git" aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Usário:</span>
    <input id="user" name="user" value="{{user}}" type="text" class="form-control" placeholder="Usuário" aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Senha:</span>
    <input id="password" name="password" value="{{password}}" type="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon1">
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Branch <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for branch in branches %}
                    {% if branch %}
                    <li><a href="{% url 'adminGit:index' %}branch/{{branch}}/">{{branch.capitalize}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /btn-group -->
            <input id="branch" name="branch" value={{branch}} type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br>
<!-- Button (Double) -->
<div class="row">
    <div class="col-md-1">    
    <button id="button" name="button" class="btn btn-success">Salvar</button>
    </div>
    <div class="col-md-1">    
    <button id="button" name="button" class="btn btn-danger">Cancelar</button>
    </div>
</div>

</form>

</div>

{% endblock %}