{% extends "adminBuildBot/index.html" %}
{% block inner_content %}
<style>
  pre {
      margin-top: 16px;
  }
</style>
<!--
<a href="start" class="btn btn-labeled btn-success" role="button">
  <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>
  Start
</a>
<a href="stop" class="btn btn-labeled btn-danger" role="button">
  <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
  Stop
</a>

<div class="row">
  <div class="col-md-2">
      {% if 'instancias' in menu %}
      <a class="btn btn-primary btn-block" role="button" href="/buildbot/configuracao/master/">Master</a>
      {% else %}
      <a class="btn btn-default btn-block" role="button" href="/buildbot/configuracao/master/">Master</a>
      {% endif %}
  </div>
  <div class="col-md-2">
      {% if 'controle' in menu %}
      <a class="btn btn-primary btn-block" role="button" href="/buildbot/configuracao/worker/">Worker</a>
      {% else %}
      <a class="btn btn-default btn-block" role="button" href="/buildbot/configuracao/worker/">Worker</a>
      {% endif %}
  </div>
  <div class="col-md-8">
  </div>
</div>


<ul class="nav nav-tabs">
  <li role="presentation" class="{{master}}"><a href="/buildbot/configuracao/master/">Master</a></li>
  <li role="presentation" class="{{worker}}"><a href="/buildbot/configuracao/worker/">Worker</a></li>
</ul>

<br>
-->
<div class="card">
  <div class="card-body">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Arquivo
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for file in config_files %}
            <a class="dropdown-item" href="/buildbot/configuracao/{{ file }}/">{{ file }}</a>
            {% endfor %}
          </div>
      </div>
  </div>
</div>

<style>
  {{ file_css|safe }}
</style>
<div class="card">
  <div class="card-body">
{{ file_content|safe }}
  </div>
</div>

{% endblock %}
